<body>
    <h2>Hitorigotoとは</h2>
    <br>
    <p>Hitorigotoとは、皆のひとりごとを共有するサイトです。</p>
    <p>誰がつぶやいたのかも分からない完全秘匿性サービスとなります。</p>
    <p>思いついたこ、と気がついたこと</p>
    <p>自分の中に生まれた言葉をつぶやいてみましょう。</p>
    
    <h3><%= link_to "ひとりごとを始める", new_tweet_path, class: 'start' %></h3>
</body>