.tubuyaki {
    margin-top: 15px;
    // border-bottom: 1px solid white;
    padding-bottom: 4px;
    padding-top: 4px;
    background-color: #222222;
    box-shadow: 3px 3px #111111;
}

.title-1 {
    margin-top: 100px;
}